@using PhotoApp.Models
@model Photo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="containerDetails">
    <div class="detailsPhoto">
        <a class="downloadBtn" asp-action="Download" asp-route-id="@Model.PhotoId" download>Pobierz</a>
        <img src="@Model.PhotoUrl" alt="@Model.Description">
    </div>
    <div class="detailsInfo">
        <div class="szczeg_infor">
            <h2>Szczegóły</h2>
        </div>
        <div class="info">
            <div class="asp-display">
                <form asp-controller="Photo">
                    <div class="mb-2">
                        <b>
                            <label class="form-label" asp-for="Description"></label>
                        </b> 
                    </div>
                    <div class="mb-2">
                        <b>
                            <label class="form-label" asp-for="Camera"></label>
                        </b>
                    </div>
                    <div class="mb-2">
                        <b>
                            <label class="form-label" asp-for="Date_time"></label>
                        </b> 
                    </div>
                    <div class="mb-2">
                        <b>
                            <label class="form-label" asp-for="AuthorId"></label>
                        </b>
                    </div>
                    <div class="mb-2">
                        <b>
                            <label class="form-label" asp-for="Definition"></label>
                        </b>
                    </div>
                    <div class="mb-2 border-0">
                        <b>
                            <label class="form-label" asp-for="Format"></label>
                        </b>
                    </div>
                </form>
            </div>
            <div class="asp-values">
                <div class="mb-2">
                    @Model.Description
                </div>
                <div class="mb-2">
                    @Model.Camera
                </div>
                <div class="mb-2">
                    @Model.Date_time
                </div>
                <div class="mb-2">
                    <span>
                        @Model.Author.FirstOrDefault(o => o.Value == Model.AuthorId.ToString())?.Text
                    </span>
                </div>
                <div class="mb-2">
                    @Model.Definition.GetDisplayName()
                </div>
                <div class="mb-2">
                    @Model.Format.GetDisplayName()
                </div>
                <div class="btnback specialPlace">
                    <form asp-controller="Photo" asp-action="PagedGallery" method="POST">
                        <button class="btn btn-outline-secondary backBtn" type="submit" asp-action="PagedGallery">Wróć</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>