@model PagingList<Photo>

<div class="container">
    <div class="title">
        <h2 class="center">
            <a class="btn btn-outline-secondary addBtn" asp-controller="Photo" asp-action="CreateApi">Dodaj zdjęcie</a>
        </h2>
        <h3 class="allPhotosText">galeria zdjęć</h3>
        <p class="flex-grow-1"></p>
    </div>
    <div class="row">
        @foreach (var photo in Model.Data)
        {
            <div class="col-md-4 photoCard">
                <div class="card mb-4 shadow-sm">
                    <div class="photodiv">
                        <img src="@photo.PhotoUrl" class="img-thumbnail"/>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@photo.Description</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-controller="Photo" asp-route-id="@photo.PhotoId"
                                   class="btn btn-sm btn-outline-secondary detailsBtn">Szczegłóły</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    <a asp-action="Update" asp-controller="Photo" asp-route-id="@photo.PhotoId"
                                       class="btn btn-sm btn-outline-secondary">Edytuj</a>
                                    <a asp-action="Delete" asp-controller="Photo" asp-route-id="@photo.PhotoId"
                                       class="btn btn-sm btn-outline-danger">Usuń</a>
                                }
                            </div>
                            <small class="text-muted">@photo.Author.FirstOrDefault(a => a.Value == photo.AuthorId.ToString())?.Text</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<nav class="pages">
    <ul>
        @if (Model.IsPrevious)
        {
            <li>
                <a class="previousNext"
                   asp-controller="Photo"
                   asp-action="PagedGallery"
                   asp-route-page="@(Model.Number - 1)"
                   asp-route-size="6">
                    &#8592
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="previousNext_notUsed">&#8592</a>
            </li>
        }
        <li >
            <a class="pageNumber">@Model.Number</a>
        </li>
        @if (Model.IsNext)
        {
            <li>
                <a class="previousNext"
                   asp-controller="Photo"
                   asp-action="PagedGallery"
                   asp-route-page="@(Model.Number + 1)"
                   asp-route-size="6">
                   &#8594
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="previousNext_notUsed">&#8594</a>
            </li>
        }
    </ul>
</nav>