@model Photo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
<div class="row justify-content-md-center">
    <div class="col-6">
        <h2>Szczegółowe dane:</h2>
        <form asp-controller="Photo" asp-action="Gallery" method="POST">
            <div class="mb-3">
                <b class="form-label">Data i godzina: </b><p>@Model.Date_time</p>
            </div>
            <div class="mb-3">
                <b class="form-label">Opis: </b><p>@Model.Description</p>                
            </div>
            <div class="mb-3">
                <b class="form-label">Model aparatu: </b><p>@Model.Camera</p>                
            </div>
            <div class="mb-3">
                <b class="form-label">Autor: </b><p>@Model.Author</p>               
            </div>
            <div class="mb-3">
                <b class="form-label">Rozdzielczość: </b><p>@Model.Definition</p>                
            </div>
            <div class="mb-3">
                <b class="form-label">Format: </b><p>@Model.Format</p>               
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Wróć</button>
            </div>
        </form>
    </div>
</div>
</div>